<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizza spese</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <select id="year-options"></select>
    <input type="date" id="from-date">
    <input type="date" id="to-date">
    <button id="apply-filter">Apply</button>
    <form id="radio-form">
        <input type="radio" id="id" name="option" value="id">
        <label for="id">Sort by ID</label><br>
        <input type="radio" id="amount-des" name="option" value="amount-des">
        <label for="amount-des">Order by amount descending</label><br>
        <input type="radio" id="amount-asc" name="option" value="amount-asc">
        <label for="amount-asc">Order by amount ascending</label><br>
        <input type="radio" id="date-des" name="option" value="date-des">
        <label for="date-des">Order by date descending</label><br>
        <input type="radio" id="date-asc" name="option" value="date-asc">
        <label for="date-asc">Order by date ascending</label><br>
        <input type="radio" id="type" name="option" value="type">
        <label for="type">Order by type</label><br>
    </form>
    <script src="view.js"></script>
    <table id="expenses-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</body>
</html>